/* Colors */
* {
  --black: #1f1f1f;
  --gray: #2f2f2f;
  --lightgray: #636363;
  --primary: #ECB72D;
  --secondary: #dadada;
}

*:not(.password-like):not(.fas):not(.fa):not(.far):not(.fab) {
  font-family: 'Roboto' !important;
}

a, a:focus, a:hover, a:active {
  text-decoration: none !important;
}

/* Color & background */
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.bg-black {
  background: var(--black);
}

.bg-gray {
  background: var(--gray);
}

.bg-lightgray {
  background: var(--lightgray);
}

.bg-primary {
  background: var(--primary) !important;
}

.bg-secondary {
  background: var(--secondary) !important;
}

.border-classic {
  border-radius: 10px;
}

#content {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: auto;
  z-index: 33;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: " ";
  position: fixed;
  width: 124vw;
  height: 34vh;
  right: -15vw;
  bottom: -28vh;
  background: var(--primary);
  transform: rotate(-8deg);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 7px 0px;
  border: 2px solid black;
  transition-duration: 0.3s;
}

body::after {
  content: " ";
  position: fixed;
  width: 124vw;
  height: 34vh;
  left: -15vw;
  top: -28vh;
  background: var(--primary);
  transform: rotate(-8deg);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 7px 0px;
  border: 2px solid black;
  transition-duration: 0.3s;
}

body.content-hovered::before {
  bottom: -35vh;
  transition-duration: 0.3s;
}

body.content-hovered::after {
  top: -35vh;
  transition-duration: 0.3s;
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

hr {
  margin-bottom: 4rem;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background: transparent;
  border-radius: 0;
  border: 0;
}

input::placeholder {
  color: var(--secondary);
}

input.password-like {
  font-family: 'password';
  letter-spacing: 4px;
}

input.password-like::placeholder {
  font-family: 'Roboto' !important;
  letter-spacing: 0px;
}

.form-group {
  position: relative;
}

.form-group::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -2px;
  height: 2px;
  background: var(--secondary);
  transition-duration: 0.3s;
  transition-delay: 0.4s;
  z-index: 2;
}

.form-group::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  width: 60px;
  bottom: -2px;
  height: 2px;
  background: var(--primary);
  transition-duration: 0.3s;
  transition-delay: 0.4s;
  z-index: 3;
}

.form-group:hover::before, .form-group:active::before {
  width: 100%;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

.btn.btn-own {
  width: 47%;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 2px;
}

.btn.btn-own span {
  position: relative;
  z-index: 3;
  color: white;
  text-shadow: grey 0px 0px 2px;
  letter-spacing: .5px;
}

.btn.btn-own:hover {
  border: 2px solid var(--primary);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 2px;
}

.btn.btn-own::before {
  content: " ";
  width: 200%;
  display: block;
  height: 200%;
  background: var(--primary);
  position: absolute;
  top: -24%;
  bottom: 0;
  left: -207%;
  right: 0;
  z-index: 1;
  transform: rotate(-11deg);
  transition-duration: 0.6s;
}

.btn.btn-own:hover::before {
  left: -50%;
  transition-duration: 0.6s;
}

#particle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #353535 url(/static/images/background2.png);
  z-index: -1;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 5px;
  right: 15px;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--secondary);
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: black 0px 0px 3px;
  max-width: calc(100vw - 30px);
}

.content-container {
  height: 84vh;
  margin-top: 8vh;
}

div[data-notify='container'] {
  width: 500px;
  max-width: calc(100vw - 30px);
  right: 15px !important;
  bottom: 15px !important;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

div[data-notify='container'] .progress {
  height: 4px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  border-radius: 3px;
}

div[data-notify='container'] .progress-bar {
  background: var(--primary) !important;
}

div[data-notify='container']>span {
  float: left;
  width: 70px;
  display: block;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 55px;
  color: var(--primary);
  margin-bottom: 20px;
}

div[data-notify='container'] .text {
  margin-left: 90px;
}

div[data-notify='container'] .text span[data-notify='title'] {
  display: block;
  min-height: 40px;
  line-height: 40px;
  font-size: 21px;
  color: var(--primary);
}

div[data-notify='container'] .text span[data-notify='message'] {
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: var(--secondary);
  margin-bottom: 25px;
}

div[data-notify='container'] button {
  display: none;
}

.navbar {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  padding: 0;
}

.navbar-brand {
  border-radius: 10px 0 0 10px;
}

.nav-link.last {
  border-radius: 0 10px 10px 0;
  padding-right: 30px !important;
}

.navbar-brand, .nav-link, .dropdown-item {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0);
  margin: 0;
  color: var(--secondary);
  font-size: 16px;
}

.dropdown-item{
  padding: 0 30px 0 5px !important;
}

.navbar-brand:hover, .nav-link:hover, .dropdown-item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--primary);
}

.navbar-toggler i{
  color: var(--secondary);
  padding-right: 25px;
}

.navbar-toggler:hover i, .navbar-toggler:focus i, .navbar-toggler:active i{
  color: var(--primary);
}

.navbar-brand i, .nav-link i, .dropdown-item i{
  font-size: 17px;
  margin-right: 4px;
  display: inline-block;
  width: 25px;
  text-align: right;
}

.dropdown-toggle::after{
  display: none;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.65);
    border-radius: 0 0 10px 10px;
}

.dropdown-menu .dropdown-item:last-child {
    border-radius: 0 0 10px 10px;
}

.dropdown-toggle{
  position: relative;
}

@media screen and (max-width: 768px){
  .navbar-nav .nav-link, .navbar-nav .dropdown-item{
    width: 100%;
    padding-left: 29px !important;
  }

  .nav-link.last {
    border-radius: 0 0 10px 10px;
  }

  .dropdown-menu .dropdown-item:last-child{
    border-radius: 0;
  }

  .navbar-brand{
    background: transparent !important;
  }

  .dropdown-toggle i.fa-caret-down {
    float: right;
    line-height: 45px;
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 25px;
    text-align: center;
    transition-duration: 0.3s;
  }

  .dropdown-toggle[aria-expanded='true'] i.fa-caret-down{
    transform: rotate(45deg);
    transition-duration: 0.3s;

  }
}

.row.content{
  margin-top: 1.5rem;
  border-radius: 10px;
  background: rgba(0,0,0,0.45);
  min-height: 300px;
}
