{% extends "basic.html" %}

<!-- Config -->
{% block title %}Account{% endblock %}
{% block file %}account{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/account.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-10 offset-1 p-0 mt-3  mb-5">
</div>
<div class="col-10 offset-1 p-0">
  <div class="mb-3">
    <div class="row">
      <div class="col-12 hovered">
        <h3>Moje dane</h3>
      </div>
      <div class="col-12 col-md-6">
        <p class="company-title">Imię:</p>
        <p class="company-value"></p>
      </div>
      <div class="col-12 col-md-3">
        <p class="company-title">Nazwisko:</p>
        <p class="company-value"></p>
      </div>
      <div class="col-12 col-md-3">
        <p class="company-title">Data urodzenia:</p>
        <p class="company-value"></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Miejsce zamieszkania</h3>
      </div>
      <div class="col-8">
        <p class="company-street">ul. </p>
        <p class="company-street"></p>
        <p class="company-street"></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Dane kontaktowe</h3>
      </div>
      <div class="col-8">
        <p class="company-owner">Telefon komórkowy</p>
        <p class="company-owner"></p>
      </div>
      <div class="col-8">
        <p class="company-owner">E-Mail</p>
        <p class="company-owner"></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <a href="/account/edit" class="btn btn-own"><span>Edytuj moje dane</span></a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
