{% extends "basic.html" %}

<!-- Config -->
{% block title %}Password{% endblock %}
{% block file %}password{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/password.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-10 offset-1 p-0">
  <form action="/company/add" method="POST" class="mt-4 mb-3">
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Dane uwierzytelniające</h3>
      </div>
      <div class="col-12 col-md-6 p-0">
        <div class="form-group col-12 col-md-6">
          <input type="text" class="form-control" id="password_old" placeholder="Stare hasło">
        </div>
        <div class="form-group col-12 col-md-6">
          <input type="text" class="form-control" id="password_new" placeholder="Nowe hasło">
        </div>
        <div class="form-group col-12 col-md-6">
          <input type="text" class="form-control" id="password_repeat" placeholder="Powtórz hasło">
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        Zmiana hasła będzie się wiązać z chuj wie czym i tak dalej. Trzeba tu upchać trochę tekstu i dobrym rozwiązaniem będzie wypisanie pop rawej stronie w kurwe długiej i ładniej listy, która zaraz przygotuję z wymaganiami, jakie musi spełnić dane hasło aby było uznane za porpawnep

        <ul>
          <li>Minimum 8 znaków</li>
          <li>Minimum jedna duża litera</li>
          <li>Minimum jedna cyfra</li>
          <li>Minimum jedna znak specjalny</li>
        </ul>

      </div>

    </div>

    <div class="row mt-4">
      <div class="col-6">
        <button type="submit" class="btn btn-own"><span>Zmień hasło</span></button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
