{% extends "basic.html" %}

<!-- Config -->
{% block title %}Account Edit{% endblock %}
{% block file %}account_edit{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/account_edit.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-10 offset-1 p-0">
  <form action="/account/edit" method="POST" class="mt-4 mb-3">
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Moje dane</h3>
      </div>
      <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-0">
        <input type="text" class="form-control" id="account_edit_name" placeholder="Imię">
      </div>
      <div class="form-group col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-1">
        <input type="text" class="form-control" id="account_edit_surname" placeholder="Nazwisko">
      </div>
      <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-1">
        <input type="text" date="true" class="form-control type-date" id="account_edit_birth_data" placeholder="Data urodzenia">
      </div>
      <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-0">
        <input type="text" class="form-control" id="account_edit_PESEL" placeholder="PESEL">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Miejsce zamieszkania</h3>
      </div>
      <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-0">
        <input type="text" class="form-control" id="account_edit_street" placeholder="Ulica">
      </div>
      <div class="form-group col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-1">
        <input type="text" class="form-control" id="account_edit_city" placeholder="Miasto">
      </div>
      <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-1">
        <input type="text" class="form-control type-zip" id="account_edit_zip" placeholder="Kod pocztowy">
      </div>
      <div class="form-group col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-0">
          <select class="custom-select" id="account_edit_state">
              {% for Date in States %}
                  <option value={{ Date[0] }}>{{ Date[1] }}</option>
              {% endfor %}
          </select>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Dane Kontaktowe</h3>
      </div>
      <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-0">
        <input type="text" class="form-control type-phone-number" id="account_edit_phone_number" placeholder="Telefon">
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-12">
        <button type="submit" class="btn btn-own"><span>Zapisz dane</span></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
