{% extends "basic.html" %}

<!-- Config -->
{% block title %}Company Workers Details{% endblock %}
{% block file %}company_workers_details{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/company_workers_details.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-10 offset-1 p-0 mt-3  mb-5">
</div>
<div class="col-10 offset-1 p-0">
  <div class="mb-3">
    <div class="row">
      <div class="col-12 hovered">
        <h3>Dane pracownika</h3>
      </div>
      <div class="col-12 col-md-4">
        <p class="company-title h6">Imię:</p>
        <p class="company-value">{{ UserData[2] }}</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="company-title h6">Nazwisko:</p>
        <p class="company-value">{{ UserData[3] }}</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="company-title h6">Data urodzenia:</p>
        <p class="company-value">{{ UserData[5] }}</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Miejsce zamieszkania</h3>
      </div>
      <div class="col-8">
        <p class="company-street">ul. {{ UserData[7] }}</p>
        <p class="company-street">{{ UserData[8] }} {{ UserData[9] }}</p>
        <p class="company-street">{{ UserData[10] }}</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Dane kontaktowe</h3>
      </div>
      <div class="col-12 col-md-4">
        <p class="company-owner h6">Telefon komórkowy</p>
        <p class="company-value">{{ UserData[6] }}</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="company-owner h6">E-Mail</p>
        <p class="company-value">{{ UserData[1] }}</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 hovered">
        <h3>Wynagrodzenie</h3>
      </div>
      <div class="col-12 col-md-4">
        <p class="company-owner h6">Dochód brutto:</p>
        <p class="company-owner">{{ UserCompanyData[2] }} PLN</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="company-owner h6">Dochód netto:</p>
        <p class="company-owner">{{ Netto }} PLN</p>
      </div>
    </div>

  </div>
</div>

{% endblock %}
