{% extends "basic.html" %}

<!-- Config -->
{% block title %}Company Workers{% endblock %}
{% block file %}company_workers{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/company_workers.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="col-10 offset-1 p-0 mt-3">
    <div class="row">
      <div class="d-none d-md-block col-md-8">
      </div>
      <div class="col-12 col-md-4 mt-2rem form-group">
        <select id="current_company">

        </select>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 p-0">
    <div class="mb-3">
      <div class="row">
        <div class="col-12 hovered">
          <h3>Pracownicy
            <a href="/company/workers/add" name="button" class="btn btn-own float-right"><span>Dodaj pracownika</span></a>
          </h3>
        </div>
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead style="position: sticky; top: 0;">
                <tr style="position: sticky; top: 0;">
                  <th style="width: 5%;" class="table-sticky text-center">#</th>
                  <th style="width: 17.5%;" class="table-sticky " >Imię</th>
                  <th style="width: 17.5%;" class="table-sticky " >Nazwisko</th>
                  <th style="width: 30%;" class="table-sticky text-center">Stanowisko</th>
                  <th style="width: 20%;" class="table-sticky text-right">Kontakt</th>
                  <th style="width: 10%;" class="table-sticky text-right">Akcje</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 5%;" class="text-center">1</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans Uno</td>
                  <td style="width: 17.5%;" class="text-nowrap" >Hans</td>
                  <td style="width: 30%;" class="text-center text-nowrap">Operator komory gazowej</td>
                  <td style="width: 20%;" class="text-right text-nowrap">+48 696 969 696</td>
                  <td style="width: 10%;" class="text-right text-nowrap">
                    <a href="/company/workers/details"><i class="fas fa-list-alt"></i></a>
                    <a href="/company/workers/edit"><i class="fas fa-pen"></i></a>
                    <a onclick="deleteWorker(0)"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
