{% extends "basic.html" %}

<!-- Config -->
{% block title %}Company Add{% endblock %}
{% block file %}company_add{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/company_add.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="col-10 offset-1 p-0">
    <form action="/company/add" method="POST" class="mt-4 mb-3">
      <div class="row mt-4">
        <div class="col-12 hovered">
          <h3>Informacje o firmie</h3>
        </div>
        <div class="form-group col-12 col-md-5 offset-md col-lg-3 offset-lg-0">
          <input type="text" class="form-control" id="company_add_name" placeholder="Nazwa firmy">
        </div>
        <div class="form-group col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-1">
          <input type="text" class="form-control" id="company_add_nip" placeholder="NIP">
        </div>
        <div class="form-group col-12 col-md-5 col-lg-3 offset-lg-1">
          <input type="text" class="form-control" id="company_add_regon" placeholder="Regon">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 hovered">
          <h3>Adres firmy</h3>
        </div>
        <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-0">
          <input type="text" class="form-control" id="company_add_street" placeholder="Ulica">
        </div>
        <div class="form-group col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-1">
          <input type="text" class="form-control" id="company_add_city" placeholder="Miasto">
        </div>
        <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-1">
          <input type="text" class="form-control" id="company_add_zip" placeholder="Kod pocztowy">
        </div>
        <div class="form-group col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-0">
            <select class="custom-select" id="company_add_state">
                {% for Date in States %}
                    <option value={{ Date[0] }}>{{ Date[1] }}</option>
                {% endfor %}
            </select>
        </div>
      </div>
        <div class="row mt-4">
        <div class="col-12 hovered">
          <h3>Dane kontaktowe</h3>
        </div>
        <div class="form-group col-12 col-md-5 offset-md-0 col-lg-3 offset-lg-0">
          <input type="text" class="form-control" id="company_add_phone" placeholder="Telefon kontaktowy">
        </div>
        <div class="form-group col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-1">
          <input type="text" class="form-control" id="company_add_mail" placeholder="E-Mail firmowy">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <button type="submit" class="btn btn-own"><span>Dodaj firmę</span></button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
