{% extends "basic.html" %}

<!-- Config -->
{% block title %}Company Permissions{% endblock %}
{% block file %}company_permissions{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/company_permissions.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-10 offset-1 p-0 mt-3 mb-5">
  <div class="row">
    <div class="d-none d-md-block col-md-8">
    </div>
    <div class="col-12 col-md-4 mt-2rem form-group">
      <select id="current_company" class="permissions">
          {% for Date in CompaniesNames %}
              <option {% if SelectedID == Date[0] %} selected {% endif %} value={{ Date[0] }}>{{ Date[1] }}</option>
          {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class="col-10 offset-1 p-0">
  <div class="mb-3">
    <div class="row">
      <div class="col-12 hovered">
        <h3>Uprawnienia
          <a name="button" onclick="$('#modal-add').modal()" class="btn btn-own float-right"><span>Dodaj stanowisko</span></a>
        </h3>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead style="position: sticky; top: 0;">
              <tr style="position: sticky; top: 0;">
                <th style="width: 5%;" class="table-sticky text-center">#</th>
                <th style="width: 30%;" class="table-sticky">Nazwa</th>
                <th style="width: 55%;" class="table-sticky"></th>
                <th style="width: 10%;" class="table-sticky text-right">Akcje</th>
              </tr>
            </thead>
            <tbody>
                {% for Data in PositionsList %}
                  <tr>
                    <td style="width: 5%;" class="text-center">{{ Data[0] }}</td>
                    <td style="width: 30%;" class="text-nowrap">{{ Data[1] }}</td>
                    <td style="width: 55%;" class="text-center text-nowrap"></td>
                    <td style="width: 10%;" class="text-right text-nowrap">
                      <a onclick="editPermission({{ SelectedID }}, '{{ Data[1] }}')" ><i class="fas fa-pen"></i></a>
                      <a onclick="deletePermission()" ><i class="fas fa-trash" style="color: #B30606"></i></a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-add" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <form action="/company/permissions/{{ SelectedID }}" class="w-100" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dodaj stanowisko do firmy</h5>
        </div>
        <div class="modal-body">
          <input type="hidden" class="form-control" id="do" value="add">
          <div class="form-group col-12">
            <input type="text" class="form-control" id="company_permission_name" placeholder="Stanowisko">
          </div>
          <div class="permissions-container">
              {% for DATA in PermissionsList %}
                <div class="form-group col-12 row no-underline mb-2">
                  <div class="col-1">
                    <input type="checkbox" name="{{ DATA[1] }}" id="{{ DATA[1] }}">
                  </div>
                  <div class="col-11">
                    <label class="form-check-label" for="{{ DATA[1] }}">{{ DATA[1] }} - {{ DATA[2] }}</label>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-own"><span>Dodaj stanowisko</span></button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal" id="modal-edit" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <form action="/company/permissions/{{ SelectedID }}" class="w-100" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edycja stanowiska NAZWA</h5>
        </div>
        <div class="modal-body">
          <input type="hidden" class="form-control" id="do" value="edit">
          <div class="permissions-container">
              {% for DATA in PermissionsList %}
                <div class="form-group col-12 row no-underline mb-2">
                  <input type="hidden" class="form-control" id="Nazwa" name="Nazwa">
                  <div class="col-1">
                    <input type="checkbox" name="{{ DATA[1] }}" id="{{ DATA[1] }}">
                  </div>
                  <div class="col-11">
                    <label class="form-check-label" for="{{ DATA[1] }}">{{ DATA[1] }} - {{ DATA[2] }}</label>
                  </div>
                </div>
              {% endfor %}
          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-own"><span>Edytuj stanowisko</span></button>
        </div>
      </div>
    </form>
  </div>
</div>






{% endblock %}
