{% extends "basic.html" %}

<!-- Config -->
{% block title %}Company List{% endblock %}
{% block file %}company_list{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/company_list.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="col-10 offset-1 p-0 mt-3">
    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
        <select class="mt-2rem" name="">
          <option value="">Firma</option>
          <option value="">Firma</option>
          <option value="">Firma</option>
          <option value="">Firma</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 p-0">
    <div class="mb-3">
      <div class="row">
        <div class="col-12 hovered">
          <h3>Dane firmy</h3>
        </div>
        <div class="col-6">
          <p class="company-title">Nazwa firmy:</p>
          <p class="company-value">Spółka Zło Dundersztycaaaaaa!</p>
        </div>
        <div class="col-3">
          <p class="company-title">NIP:</p>
          <p class="company-value">123123123123</p>
        </div>
        <div class="col-3">
          <p class="company-title">REGON:</p>
          <p class="company-value">123123123123</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 hovered">
          <h3>Siedziba firmy</h3>
        </div>
        <div class="col-8">
          <p class="company-street">ul. Jebaniażydokomuny 3/4</p>
          <p class="company-street">69-696 Zadupie Górne</p>
          <p class="company-street">Podlasie</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 hovered">
          <h3>Dane właściciela</h3>
        </div>
        <div class="col-8">
          <p class="company-owner">Jan Kowalski</p>
          <p class="company-owner">tel. +49 123 456 789</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
