{% extends "basic.html" %}

<!-- Config -->
{% block title %}Company Workers{% endblock %}
{% block file %}company_workers{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/company_workers.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="col-10 offset-1 p-0 mt-3 mb-5">
    <div class="row">
      <div class="d-none d-md-block col-md-8">
      </div>
      <div class="col-12 col-md-4 mt-2rem form-group">
        <select id="current_company" class="workers">
            {% for Date in CompaniesNames %}
                <option {% if SelectedID == Date[0] %} selected {% endif %} value={{ Date[0] }}>{{ Date[1] }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 p-0">
    <div class="mb-3">
      <div class="row">
        <div class="col-12 hovered">
          <h3>Pracownicy
            <a name="button" onclick="openForm()" class="btn btn-own float-right"><span>Dodaj pracownika</span></a>
              <div class="form-popup" id="myForm" style="display: none">
                  <form action="/company/workers/{{ SelectedID }}" method="POST">
                      <input type="text" class="form-control" id="company_workers_mail" placeholder="Adres e-mail">
                      <button type="submit" class="btn btn-own"><span>Dodaj pracownika</span></button>
                  </form>
                </div>
          </h3>
        </div>
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead style="position: sticky; top: 0;">
                <tr style="position: sticky; top: 0;">
                  <th style="width: 5%;" class="table-sticky text-center">#</th>
                  <th style="width: 17.5%;" class="table-sticky " >Imię</th>
                  <th style="width: 17.5%;" class="table-sticky " >Nazwisko</th>
                  <th style="width: 30%;" class="table-sticky text-center">Stanowisko</th>
                  <th style="width: 20%;" class="table-sticky text-right">Kontakt</th>
                  <th style="width: 10%;" class="table-sticky text-right">Akcje</th>
                </tr>
              </thead>
              <tbody>
                {% for Date in UsersData %}
                    <tr>
                      <td style="width: 5%;" class="text-center">{{ Date[0] }}</td>
                      <td style="width: 17.5%;" class="text-nowrap" >{{ Date[2] }}</td>
                      <td style="width: 17.5%;" class="text-nowrap" >{{ Date[3] }}</td>
                      <td style="width: 30%;" class="text-center text-nowrap">{{ Date[12] }}</td>
                      <td style="width: 20%;" class="text-right text-nowrap">{{ Date[6] }}</td>
                      <td style="width: 10%;" class="text-right text-nowrap">
                        <a href="/messages/{{ Date[0] }}"><i class="fas fa-paper-plane"></i></a>
                        <a href="/company/workers/details/{{ Date[0] }}"><i class="fas fa-list-alt"></i></a>
                        <a href="/company/workers/edit/{{ Date[0] }}"><i class="fas fa-pen"></i></a>
                        <a href="/company/workers/delete/{{ Date[0] }}"><i class="fas fa-trash" style="color: #B30606"></i></a>
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
