{% extends "basic.html" %}

<!-- Config -->
{% block title %}Company Workers Vacations{% endblock %}
{% block file %}company_workers_vacations{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/company_workers_vacations.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-10 offset-1 p-0 mt-3 mb-5">
  <div class="row">
    <div class="d-none d-md-block col-md-8">
    </div>
    <div class="col-12 col-md-4 mt-2rem form-group">
      <select id="current_company" class="vacations">
          {% for Date in CompaniesNames %}
              <option {% if SelectedID == Date[0] %} selected {% endif %} value={{ Date[0] }}>{{ Date[1] }}</option>
          {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class="col-10 offset-1 p-0">
  <div class="mb-3">
    <div class="row">
      <div class="col-12 hovered">
        <h3>Wnioski urlopowe
          <a onclick="$('#modal-add').modal();"name="button" class="btn btn-own float-right"><span>Złóż wniosek</span></a>
        </h3>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead style="position: sticky; top: 0;">
              <tr style="position: sticky; top: 0;">
                <th style="width: 5%;" class="table-sticky text-center">#</th>
                <th style="width: 25%;" class="table-sticky " >Imię i nazwisko</th>
                <th style="width: 30%;" class="table-sticky " >Powód urlopu</th>
                <th style="width: 30%;" class="table-sticky text-right" >Okres urlopu</th>
                <th style="width: 10%;" class="table-sticky text-right">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for Data in Vacations %}
                  <tr>
                    <td style="width: 5%;" class="text-center">{{ Data[0] }}</td>
                    <td style="width: 25%;" class="text-nowrap" >{{ Data[1] }} {{ Data[2] }}</td>
                    <td style="width: 30%;" class="text-nowrap">{{ Data[3]}}</td>
                    <td style="width: 30%;" class="text-nowrap text-right">{{ Data[4] }} - {{ Data[5] }}</td>
                    {% if Data[6] == "Accepted" %}
                        <td style="color: green; width: 10%;" class="text-nowrap text-right">Accepted</td>
                    {% elif Data[6] == "Canceled" %}
                        <td style="color: red; width: 10%;" class="text-nowrap text-right">Canceled</td>
                    {% else %}
                        <td style="width: 10%;" class="text-right text-nowrap text-center">
                          <a href="accept/{{ companyID }}/{{ Data[0] }}"><i style="color: green !important" class="fas fa-check"></i></a>
                          <a href="cancel/{{ companyID }}/{{ Data[0] }}"><i style="color: red !important" class="fas fa-times"></i></a>
                        </td>
                    {% endif %}
                  </tr>
                {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-add" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <form action="/company/permissions/" class="w-100" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Złóż wniosek o urlop</h5>
        </div>
        <div class="modal-body">
          <div class="form-group col-12">
            <input type="text" class="form-control" id="company_vacation_reason" placeholder="Powód urlopu">
          </div>
          <div class="form-group col-12">
            <input type="text" class="form-control" date="true" id="company_vacation_reason" placeholder="Rozpoczęcie urlopu">
          </div>
          <div class="form-group col-12">
            <input type="text" class="form-control" date="true" id="company_vacation_reason" placeholder="Zakończenie urlopu">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-own"><span>Złóż wniosek</span></button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
