{% extends "basic.html" %}

<!-- Config -->
{% block title %}Messages{% endblock %}
{% block file %}messages{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/messages.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-12 pl-3 pr-3 pt-3 pb-3 h-100">
  <div class="row h-100 m-0">
    <div class="col-12 col-md-4 p-0 h-100 contact-list">
        {% for Date in Table %}
          <div class="contact-tile" user-id="{{ Date[0] }}">
            <p>{{ Date[1] }} {{ Date[2] }}</p>
            <span class="date">{{ Date[4] }}</span>
            <span class="time">{{ Date[5] }}</span>
            <span class="last">{{ Date[3] }}</span>
          </div>
        {% endfor %}


    </div>
    <div class="col-12 col-md-8">
        <div class="messages">
            {% if Messages %}
                {% for Data in Messages %}
{#                    <div class="message from" message-id="1">#}
                    <div class="{% if ID == Data[1] %} message to {% else %} message from {% endif %}" message-id="{{ Data[0] }}">
                        <div class="message-tile">
                            <span class="message">{{ Data[3] }}</span>
                            <span class="date">{{ Data[5] }} · Wyświetlono</span>
                            <p class='arrow'></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      <div class="messages-bottom">
        <textarea placeholder="Wiadomość..." id="message" name="name" rows="8" cols="80"></textarea>
        <a class="btn-message" onclick="sendMessage()"><i class="fas fa-paper-plane"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
