{% extends "basic.html" %}

<!-- Config -->
{% block title %}Messages{% endblock %}
{% block file %}messages{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='CSS/messages.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="col-10 offset-1 p-0 pt-3 pb-3 h-100">
  <div class="row h-100 m-0">
    <div class="col-4 p-0 h-100 contact-list">
      <div class="contact-tile">
        <p>Adolf Hitler</p>
        <span class="date">06.07.1942</span>
        <span class="time">21:34</span>
        <span class="last">Czemu rachunek za gaz nie jest kurwa zapłacony?!</span>
      </div>
      <div class="contact-tile">
        <p>Joseph Goebbels</p>
        <span class="date">06.07.1942</span>
        <span class="time">20:15</span>
        <span class="last">Kurwa, zapomniałem zapłacić za gaz...</span>
      </div>
      <div class="contact-tile">
        <p>GAZProm</p>
        <span class="date">06.07.1942</span>
        <span class="time">20:22</span>
        <span class="last">Informujemy, że w dniu 06.08.1942 odcieliśmy dostawy gazu w związku z nieuregulowaną fakturą NR...</span>
      </div>

    </div>
    <div class="col-8">
      <div class="messages">
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message to" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message to" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message to" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message to" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message from" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message to" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>
        <div class="message to" message-id="1">
          <div class="message-tile">
            <span class="message">Lorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdoleLorem ipsum dolor kurwa jebnij się w łeb ja pierdole</span>
            <span class="date">12:12 · Wyświetlono</span>
            <p class='arrow'></p>
          </div>
        </div>


      </div>
      <div class="messages-bottom">
        <textarea placeholder="Wiadomość..." name="name" rows="8" cols="80"></textarea>
        <a class="btn-message" onclick="sendMessage()"><i class="fas fa-paper-plane"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
